In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline

In [2]:
test = pd.read_csv("./test.csv")
train = pd.read_csv('./train.csv')
train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.50    Premium     F     VS2   61.5   58.0  7.32  7.34  4.51  9.588
1   1   2.01  Very Good     E     SI2   60.6   59.0  8.11  8.25  4.96  9.748
2   2   0.50      Ideal     E     SI1   61.6   57.0  5.13  5.09  3.15  7.255
3   3   0.25  Very Good     F    VVS2   61.6   57.0  4.05  4.08  2.50  6.450
4   4   0.52      Ideal     G     VS2   62.0   55.0  5.16  5.19  3.21  7.721

In [3]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [4]:
train.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1.50,61.5,58.0,7.32,7.34,4.51,9.588,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,2.01,60.6,59.0,8.11,8.25,4.96,9.748,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.50,61.6,57.0,5.13,5.09,3.15,7.255,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,0.25,61.6,57.0,4.05,4.08,2.50,6.450,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.52,62.0,55.0,5.16,5.19,3.21,7.721,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             40455 non-null  int64
 1   carat          40455 non-null  float64
 2   depth          40455 non-null  float64
 3   table          40455 non-null  float64
 4   x              40455 non-null  float64
 5   y              40455 non-null  float64
 6   z              40455 non-null  float64
 7   price          40455 non-null  float64
 8   cut_Fair       40455 non-null  uint8
 9   cut_Good       40455 non-null  uint8
 10  cut_Ideal      40455 non-null  uint8
 11  cut_Premium    40455 non-null  uint8
 12  cut_Very Good  40455 non-null  uint8
 13  color_D        40455 non-null  uint8
 14  color_E        40455 non-null  uint8
 15  color_F        40455 non-null  uint8
 16  color_G        40455 non-null  uint8
 17  color_H        40455 non-null  uint8
 18  color_I        40455 non-null  uint8
 19  color_J        40455 non-null  uint8
 20  clarity_I1     40455 non-null  uint8
 21  clarity_IF     40455 non-null  uint8
 22  clarity_SI1    40455 non-null  uint8
 23  clarity_SI2    40455 non-null  uint8
 24  clarity_VS1    40455 non-null  uint8
 25  clarity_VS2    40455 non-null  uint8
 26  clarity_VVS1   40455 non-null  uint8
 27  clarity_VVS2   40455 non-null  uint8
dtypes: float64(7), int64(1), uint8(20)
memory usage: 3.2 MB

In [6]:
colum = [i for i in train.columns if i != "price"]
X = train[colum]
y = train["price"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10000)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(32364, 27)
(32364,)
(8091, 27)
(8091,)

# Linear Regression

In [8]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [9]:
pred_te = lr.predict(X_test)
mse = mean_squared_error(y_test, pred_te)
mse

0.02157764101443711

In [10]:
pred_tr = lr.predict(X_train)
mse1 = mean_squared_error(y_train, pred_tr)
mse1

0.03623442760243951

In [26]:
lra = LinearRegression()
lra.fit(X, y)

LinearRegression()

In [29]:
predl = lra.predict(X)

In [31]:
mesl = mean_squared_error(y, predl)

In [32]:
mesl

0.03318241734685868

In [58]:
preds = lra.predict(test)

In [59]:
test.head()

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [60]:
test["price"] = preds

In [62]:
c = ["id", "price"]

In [63]:
entrega = test[c]

In [64]:
entrega.head()

   id     price
0   0  6.989527
1   1  8.306958
2   2  7.718106
3   3  8.439665
4   4  9.788642

In [65]:
entrega.to_csv("Linear Regression.csv", header = True, index = False)