In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline

In [7]:
test = pd.read_csv("./test.csv")
train = pd.read_csv('./train.csv')
train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.50    Premium     F     VS2   61.5   58.0  7.32  7.34  4.51  9.588
1   1   2.01  Very Good     E     SI2   60.6   59.0  8.11  8.25  4.96  9.748
2   2   0.50      Ideal     E     SI1   61.6   57.0  5.13  5.09  3.15  7.255
3   3   0.25  Very Good     F    VVS2   61.6   57.0  4.05  4.08  2.50  6.450
4   4   0.52      Ideal     G     VS2   62.0   55.0  5.16  5.19  3.21  7.721

In [8]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [9]:
train.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1.50,61.5,58.0,7.32,7.34,4.51,9.588,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,2.01,60.6,59.0,8.11,8.25,4.96,9.748,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.50,61.6,57.0,5.13,5.09,3.15,7.255,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,0.25,61.6,57.0,4.05,4.08,2.50,6.450,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.52,62.0,55.0,5.16,5.19,3.21,7.721,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
colum = [i for i in train.columns if i != "price"]
X = train[colum]
y = train["price"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10000)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(32364, 27)
(32364,)
(8091, 27)
(8091,)

# Lasso

In [12]:
clf = linear_model.Lasso(alpha=0.1)
clf.fit(X_train, y_train)

Lasso(alpha=0.1)

In [14]:
pred_te1 = clf.predict(X_test)
mse1 = mean_squared_error(y_test, pred_te1)
mse1

0.08912144824223947

In [16]:
pred_te2 = clf.predict(X_train)
mse2 = mean_squared_error(y_train, pred_te2)
mse2

0.0944272180964368

In [18]:
clfa = linear_model.Lasso(alpha=0.1)
clfa.fit(X, y)

Lasso(alpha=0.1)

In [19]:
predla = clfa.predict(X)

In [20]:
mes2 = mean_squared_error(y, predla)
mes2

0.09314658415374943

In [24]:
preds = clfa.predict(test)

In [25]:
test.head()

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [26]:
test["price"] = preds

In [27]:
c = ["id", "price"]

In [28]:
entrega = test[c]

In [29]:
entrega.head()

   id     price
0   0  7.360958
1   1  8.291096
2   2  7.516602
3   3  8.109497
4   4  9.751126

In [30]:
entrega.to_csv("Lasso.csv", header = True, index = False)